.categoriesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  list-style-type: none;
}

.categoryItem {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  width: 250px; /* Set a fixed width for consistent appearance */
  height: 300px;
}

.categoryItem:hover {
  background-color: #e63946;
  color: white;
  cursor: pointer;
}
